*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
}
@font-face{
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  }
 a{
text-decoration: none;
}
.body{
  width: 100%;
}
.container{
  box-sizing: border-box;
  position:relative;
  z-index:3;
  padding-left:15px;
  padding-right:15px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
 }
.header{
  background-image:url(../images/banner-bg.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-color:#000000;
  position:relative;
  z-index:1;
  padding: 41px 230px 132px;
}
.header::after{
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:#000000;
  opacity:0.7;
  z-index:2;
}
.menu{
  max-width:1200px;
  margin:auto;
  display:flex;
  justify-content:space-between;
}
.menu-link{
  margin-left: auto;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  text-align: center;
  text-decoration:none;
  text-transform:uppercase;
}
.menu-list-item{
  display:inline-block;
  vertical-aligh:top;
  margin:0 17px;
}
.title{
  margin-left:auto;
  margin-right:auto;
  margin-top:190px;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
  text-decoration: none;
  text-align: center;
  max-width:672px;
  }
.subtitle-newWrap{
  margin-top: 25px;
  }
  .trend-now{
  text-align: center;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform:uppercase;
  text-decoration:none;;
  }
  .trend-now::after{
  content:"";
  box-sizing:border-box;
  margin:0 auto;
  display:block;
  width:65px;
  background-color:#b59f5b;
  height:3px;
  margin-top:10px;
  } 
  .trends{
  display:flex ;
  margin-top:29px;
  width: 100%;
  min-height: 316px;
  flex-grow: 1;
  }
  .trend{
  display:flex ;
  min-width:24.9%;
  position: relative;
  flex-grow: 1;
 }
 .trend:not(:first-child){
  margin-left:2px;
  }
  .trend::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;
  }
  .trend-post1{
  background-image: url(../images/trend1.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-color:#000000;
  display:flex ;
  padding-bottom: 18px;
  padding-top: 158px ;
  }
  .trend-post2{
  background-image: url(../images/trend2.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-color:#000000;
  display: flex;
  padding-top: 132px;
  padding-bottom: 18px;
  }
  .trend-post3{
  background-image: url(../images/trend3.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-color:#000000;
  display: flex;
  padding-top: 156px;
  padding-bottom: 18px;
  }
  .trend-post4{
  background-image: url(../images/trend4.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-color:#000000;
  display: flex;
  padding-top: 161px;
  padding-bottom: 18px;
  }
  .trend-teg{
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  border: 2px solid #b59f5b;
  margin-right: 23px;
  margin-left: 23px;
  z-index: 5;
  padding: 36px;
  align-items:flex-end ;
  }
  .trend-link{
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-transform:uppercase;
  }
  .trend-text-item{
   margin-right:20px;
   display:inline-block ;
   }
  .content{
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content:space-between;
  padding:0px 15px;
  }
 .post-content{
  max-width:780px;
  box-sizing:border-box;
  flex-grow: 1;
  }
 .post{
  display:flex;
  }
 .post:not(:last-child){
  margin-bottom:65px;
  }
 .pic{
  width:372px;
  margin-right:30px;
  }
 .text{
  width:372px;
 }
 .menu-text-item{
  list-style-type:none;
  display:inline-block;
  margin-right:20px;
 }
.menu-text-link{
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  font-weight: 700;
  font-family: OpenSans-Bold;
  text-transform:uppercase;
  }
.titleh{
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform:uppercase;
  text-decoration:none;
  }
 a{
 text-decoration:none;
 font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
}
.avtor{
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  margin-left:16px;
  }
.time{
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
 font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  }
 p{
 font-size: 15px;
 line-height: 22px;
 color: #0f0d0e;
 font-weight: 400;
 font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
 }
 .new-content{
  width:270px;
 }
 .subtitle-newWrap:not(:first-child){
  margin-top:60px;
 }
.subtitle-new{
  text-align:center;
  font-size: 14px;
  color:#0f0d0e;
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
  position:relative;
  margin-bottom:27px;
  }
.subtitle-new::after{
  content:"";
  box-sizing:border-box;
  margin:0 auto;
  display:block;
  width:65px;
  background-color:#b59f5b;
  height:3px;
  margin-top:10px;
  }
.pic2{
  width:70px;
  margin-right:15px;
 }
.text2{
  width:185px;
 }
.post2{
  width:270px;
  display:flex;
  align-items:flex-start;
  }
 .post2:not(:last-child){
  margin-bottom:15px;
 }
.subtitle{
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
 }
.time2{
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  margin-bottom:5px;
 }
.search-form{
  box-sizing:border-box;
  position:relative;
  width:270px;
  margin-top:57px;
 }
.search-form-input{
  position:relative;
  padding-left:10px;
  background-color:#f4f7f6;
  width:270px;
  height:42px;
  border:none;
  z-index:1;
 }
.search-form-button{
  position:absolute;
  border:none;
  width:42px;
  height: 42px;
  background-color:#b59f5b;
  z-index:2;
  right:0;
  background-image:url(../svg/search.svg);
  background-repeat:no-repeat;
  background-size:20px;
  background-position:center center;
 }
.search-form-button:hover{
  background-color:#323232;
 }
.visually-hidden{
  width:1px;
  height:1px;
  clip:rect(1px 1px 1px 1px);
  position:absolute;
 }
.mail-field{
  box-sizing:border-box;
  height:47px;
  width:270px;
  border:none;
  background-color:#f4f7f6;
  padding-left:15px;
  font-size:13px;
  margin-bottom:15px;
 }
.mail-button{
  height:47px;
  width:270px;
  border:none;
  background-color:#b59f5b;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
  color:#ffffff;
  font-size:13px;
  }
.tegy{
  width:270px;
  margin-bottom:24px;
  }
.menu-tegy{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
   }
.menu-tegy-item{
  list-style-type:none;
  margin-right: 5px;
  }
  .menu-tegy{
  }
.tegy-link{
  font-size: 12px;
  line-height: 40px;
  color: #0f0d0e;
  font-weight: 700;
  font-family:OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  border:2px solid #eeeeee;
  height:23px;
  padding:8px 12px;
  margin-top:24px;
  margin-botton:64px;
  text-transform:uppercase;
 }
.tegy-link:hover{
  border:2px solid #b59f5b;
 }
.menu-topics{
 }
.menu-topics-item{
  list-style-type:none;
  border-bottom:2px solid #eeeeee;
  }
.topics-link{
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
}
sup{
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
}
.mades{
  max-width:1200px;
  min-height: 434px;
  margin-right:auto;
  margin-left: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding:57px 15px 0px 15px;
  margin-bottom: 60px;
  flex-grow: 1;
   }
 .our-made{
  width: calc((100% - 224px) / 3);
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   }
  
  .title-made{
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family:OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
  }
  a{
   color: #b59f5b; 
  }
  .made-body{
  border: 2px solid #b59f5b;
  margin-top: -26px;
  margin-left:-20px;
  position:relative;
  z-index:1;
  padding: 50px 20px 26px;
  }
  .made-button{
  margin-left: auto;
  min-height:47px;
  width:138px;
  border:none;
  background-color:#b59f5b;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
  color:#ffffff;
  font-size:13px;
  }
 .made-text{
  width: 301px;
  min-height: 92px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family:OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  margin-bottom: 22px;
  }
  .made-footer{
  display: flex;
  }
  .made-price{
  display:flex ;
  flex-wrap: wrap;
  margin-right: auto;
 }
 .made-price-old{
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family:OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  }
.made-price-value{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family:OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-decoration:none ;
 }
 .footer-wrapper{
  max-width:1200px;
  margin:auto;
  padding: 15px;
}
.footer-address{
  margin-bottom:20px;
  background-color:#f4f7f6;
  padding:30px 0;
  margin-bottom:65px;
  }
.socials{
  display:flex; 
  justify-content:center;
  list-style:none;
}
.social-link-twitter::before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background-image: url(../svg/004-twitter.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  margin-right:25px;
}
.social-link-pinterest::before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background-image:url(../svg/001-pinterest.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  margin-right:25px;
  }
.social-link-fecebook::before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background-image:url(../svg/002-facebook-logo.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  margin-right:25px;
 }
.social-link-instagram::before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background-image:url(../svg/005-instagram.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  margin-right:25px;
 }
.social-link-tumblr::before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  background-image:url(../svg/003-tumblr.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
 }
.copy{
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  font-family:OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-align:center;
   }
   @media(min-width: 641px) , (max-width: 1200px){
   
 .container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  }
  .logo-link{
    margin-right: auto;
  }
  .header-menu{
    display: none;
  }
 .trends{
  display:flex ;
  flex-wrap: wrap;
  margin-top:29px;
  margin-bottom: 50px;
  width:100%;
  min-height: 316px;
  }
 .trend{
 width:49.5%;
  }
  .content{
  min-width: 700px;
  display: flex;
  flex-grow: 1;
  } 
  .post-content{
  width:calc(100% - 270px);
  box-sizing:border-box;
  flex-grow: 1;
  }
.post{
  flex-wrap: wrap;
  max-width:100%;
  }
.pic{
  width: 100%;
 }
 .text{
  width:100%;
 }
 .menu-text-item{
  list-style-type:none;
  display:inline-block;
  margin-right:20px;
 }
.menu-text-link{
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  font-weight: 700;
  font-family: OpenSans-Bold;
  text-transform:uppercase;
  }
  .new-content{
  width:270px;
  margin-left: 35px;
  }
 .mades{
  min-width: 700px;
  min-height: 434px;
  margin-right:auto;
  margin-left: auto;
  display:flex;
  flex-wrap: wrap;
  padding:57px 15px 0px 15px;
  margin-bottom: 60px;
  flex-grow: 1;
   }
 .our-made{
  width: 46%;
  margin-left: 23px;
  display: flex;
  margin-bottom: 35px;
  }
  .made-box{
    background-size: cover;
    width: 100%;
  }
   .made-body{
  border: 2px solid #b59f5b;
  margin-top: -6%;
  margin-right:-5%;
  margin-left:-5%;
  position:relative;
  z-index:1;
  padding: 50px 20px 26px;
  }
  .footer{
    min-width: 700px;
  }

  .footer-address{
  min-width: 100%;
  margin-bottom:20px;
  background-color:#f4f7f6;
  padding:30px 0;
  margin-bottom:65px;
  }

/*.popup-container{
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:rgba(0,0,0,.7);
  display:flex ;
  justify-content: center;
  align-items: center;
 }
.close{
  position: absolute;
  background-image: url(../svg/form-x.svg);
  background-repeat:no-repeat ;
  background-position: center center;
  background-size: 16px;
  background-color: rgba(0,0,0,.7);
  width: 16px;
  height: 16px;
  top: -16px;
  right:0;
}
.popup{
  position: fixed;
  padding: 50px 30px;
  background-color: #ffffff;
  z-index: 3;
  width: 388px;
  min-height: 588px;
  }
.popup-field{
  margin-top: 30px;
  }
.search-field{
  display: block;
  position:relative;
  padding-left:10px;
  background-color:#f4f7f6;
  width: 100%;
  min-height:47px;
  z-index:1;
  margin-top: 15px;
  background-image:url(../svg/form-arrows.svg);
  background-repeat:no-repeat;
  background-size:10px;
  background-position:right 15px center;
  border: none;
}
 .radio-choice{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  }
  .popup-radio{
  margin-top: 15px;
  }
  .radio-group-text::before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  margin-right: 5px;
  }
  .radio:checked ~ .radio-group-text::before{
  background-image: url(../svg/form-circle.svg);
  }
  .radio{
  position:absolute ;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
  }
  .field-textarea{
  box-sizing: border-box;
  background-color:#f4f7f6;
  width:100%;
  min-height:129px;
  border:none;
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  padding-left: 23px;
  padding-top: 23px;
  margin-top: 15px;
 }
 .popup-button{
  min-height:47px;
  width:100%;
  border:none;
  background-color:#b59f5b;
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  text-transform:uppercase;
  color:#ffffff;
  font-size:13px;
  margin-top: 30px;
 }




